body {
    background-color: black;
    color: #3bd8ff;
    margin: 0;
}

a {
    color: #c231de;
    text-shadow: #3bd8ff;
    text-decoration: none;
    
}

h1 {
    text-shadow: 2px 2px #602080;
}

h1 a{
   color: #3bd8ff;
}

.App {
    display: grid;
    grid-template-columns: 200px minmax(300px, 1fr);
    grid-template-rows: 100px 1fr;
    font-family: 'Orbitron', sans-serif;

}

.App-header {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background: rgb(194, 49, 222);
    background: linear-gradient(90deg, rgba(194, 49, 222, 1) 25%, rgba(59, 216, 255, 1) 75%);
    /* color: #202060; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* z-index: 1; */
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: inherit;
    color: #3bd8ff;
    border-right: solid 2px #c231de;
}

.sidebar a {
    color: #3bd8ff;
}

.main {
    grid-column: 2 /span 2;
    grid-row: 2 / span 2;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(250px, auto);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

.landing {
    display: flex;
    flex-direction: column;
    grid-column: 1 /span 4;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;


}

li {
    list-style: none;
}

hr {
    border: solid 0.5px rgba(194, 49, 222, 1)
}
footer {

    border-top:solid 2px rgb(194, 49, 222)
}
.fancy {
    background-image: linear-gradient(90deg,
        rgba(194, 49, 222, 1) 25%,
        rgba(59, 216, 255, 1) 75%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}