body {
    background-color: black;
    color: #3bd8ff;
    margin: 0;
}

a {
    color: #c231de;
    text-decoration: none;
    
}

h1 {
    text-shadow: 2px 2px #602080;
}

h1 a{
    color: #3bd8ff;
}
h3 {
    margin: 0;
    padding-left: 5px;
}

.App {
    display: grid;
    grid-template-columns: 250px minmax(300px, 1fr);
    grid-template-rows: 100px 1fr;
    font-family: 'Orbitron', sans-serif;

}

.App-header {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background: rgb(194, 49, 222);
    background: linear-gradient(90deg, rgba(194, 49, 222, 1) 25%, rgba(59, 216, 255, 1) 75%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-color: inherit;
    color: #3bd8ff;
    border-right: solid 2px #c231de;
}
.sidebar a {
    color: #3bd8ff;
}

.main {
    grid-column: 2 /span 2;
    grid-row: 2 / span 2;
}
p {
    text-align: center;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(250px, auto);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

.singleCard{
    grid-column: 1 /span 4;
}

.landing {
    display: flex;
    flex-direction: column;
    grid-column: 1 /span 4;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;


}

li {
    list-style: none;
}

hr {
    border: solid 0.5px rgba(194, 49, 222, 1);
    width: 100%;
    
}
footer {

    border-top:solid 2px rgb(194, 49, 222)
}
.fancy {
    background-image: linear-gradient(90deg,
        rgba(194, 49, 222, 1) 25%,
        rgba(59, 216, 255, 1) 75%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

form {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 5px;
}

input[type="text"],
textarea {
    background-color:rgb(156, 43, 184);
    color: rgba(59, 216, 255, 1);
    text-align: center;
    border-radius: 5%;

}

::placeholder {
    font-family: 'Orbitron', sans-serif;    
    color: rgba(153, 223, 255, 0.5)
}
 input:focus::placeholder {
    color: transparent;
 }

button[type='submit']{
    background-color:black;
    font-family: 'Orbitron', sans-serif;
    color:rgb(194, 49, 222);
    padding: 5px 10px;
    text-decoration: none;
    margin: 0;
    cursor: cell;
}